.btn-cta {
  background-color: $color-1;
  border-radius: $border-radius;
  padding: 10px;
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background-color: darken($color-1, 15%)
  }

  * {
    color: #fff;
    @include xy-center();
  }
}