$color-1:#FFCC00; //BF003A
$color-2:#EEEEEE;
$color-3: #d3d3d3;
$color-4:#808080;
$color-5:#222222; // 000033

$font-main: 'Arimo', sans-serif;
$font-color: $color-4;

$primary:$color-1;
$light:$color-2;
$secondary: $color-4;
$dark:$color-5;

$blue:#339af0;
$green:#20c997;
$cyan:#20C9C9;
$yellow:#ff922b; // FFCC00
$red:#ff6b6b;
$pink:#f06595;
$purple: #845ef7; // 6666FF


$border-color: $color-3;
$border-radius: 0px;